/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --sn-color: #353430;
  --ht-color: #ffc2e6;
  --txt-color: #353430;
  --txt-mn-color: #353430;
  --br-color-hover: #32312d66;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --sn-color: #353430;
    --ht-color: #ffc2e6;
    --txt-color: #353430;
    --bg-image: url(../images/cover-image-light.png) no-repeat center / cover;
    --txt-mn-color: #353430;
    --br-color-hover: #32312d66;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --sn-color: #353430;
  --ht-color: #ffc2e6;
  --txt-color: #353430;
  --bg-image: url(../images/cover-image-light.png) no-repeat center / cover;
  --txt-mn-color: #353430;
  --br-color-hover: #32312d66;
}

.theme_light .decorated_ellement {
  display: none;
}
